<div class="product">
  <div class="product-details">
    <!-- <img src="{{ 'assets/images/robot-parts/'+product.imageName }}" alt="" /> -->
    <!-- <img [src]="'assets/images/robot-parts/'+product.imageName" [alt]="prodcut.imageName" /> -->
    <img [src]="getImageUrl(product)" [alt]="product.imageName" />
    <div class="product-info">
      <div class="name">{{ product.name }}</div>
      <div class="description">{{ product.description }}</div>
      <div class="category">Part Type: {{ product.category }}</div>
    </div>
  </div>
  <div class="price">
    <!-- <div *ngIf="product.discount === 0"> -->
    <!-- <div [class.strikethrough]="product.discount > 0"> -->
    <!-- <div [ngClass]="{ strikethrough: product.discount > 0 }"> -->
    <!-- for inline [style.color]="product.discount > 0 ? 'red' : ''" -->
    <div
      style="font-weight: bolder"
      [ngStyle]="{ color: product.discount > 0 ? 'green' : '' }"
      [ngClass]="getDiscountedClasses(product)"
    >
      <!-- ${{ product?.price.toFixed(2) }} -->
      {{ product.price | currency : "USD" }}
    </div>
    <div *ngIf="product.discount > 0" class="discount">
      {{ product.price * (1 - product.discount) | currency : "USD" }}
    </div>
    <!-- <button class="cta" (click)="addToCart(product)">Buy</button> -->
    <button class="cta" (click)="buyButtonClicked(product)">Buy</button>
  </div>
</div>
